:root {
    --background-color: #1E1E1E;
    --navbar-color: #2C2F33;
    --navbar-hover: #40444B;
    --border-color: #4F545C;
    --navbar-active: #B84730;
    
    --text-color: #E4E6EB;
    --text-hover: #B0B3B8;
    --text-active: #D65A31;

    --button-hover: #D65A31;
}

html {
    background-color: var(--background-color);
}

#root>div {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.home-container {
    width: 100%;
    height: 100vh !important;
    background-color: var(--background-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #rotationDiv {
        animation: rotate 20s linear infinite;
        position: absolute;
        z-index: 1;
        border-radius: 40%;
    }

    #textDiv {
        position: absolute;
        z-index: 2;
    }

    @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }

    .login-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        bottom: 15vh;
        z-index: 3;
    }

    .login-buttons>div {
        color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--border-color);
        background-color: var(--navbar-active);
        width: 300px;
        border-radius: 10px;
        height: 60px;
        margin: 5px;
        max-width: 95vw;
    }

    .login-buttons>div:hover {
        cursor: pointer;
        background-color: var(--button-hover);
        color: var(--text-hover);
    }

    @media (max-width: 750px) {
        .login-buttons {
            flex-direction: column;
            bottom: 10vh;
        }
    }

    #loginDiv {
        width: 0px;
        height: 0px;
        overflow: hidden;
        max-width: 95vw;
        border: 2px solid var(--border-color);
        background-color: var(--button-hover);
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s, width 3s, height 3s
    }

    .full-login-wrapper {
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .button-selected {
        background-color: var(--button-hover) !important;
        color: var(--text-active);
    }
}